.nav {
  background-color: #da2c2c;
}

.nav__menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__menu ul li {
  font-size: 17px;
  flex-grow: 1;
  text-align: center;
}

.nav__menu ul li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.nav__menu ul a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

.nav__menu ul li .active-route {
  background-color: #fff;
  color: #da2c2c;
  font-size: 17px;
  padding: 15px;
  font-weight: 700;
}